/*gxc-header*/

body * {
    font-family: 'Open Sans';
}
#gxc-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3E8059;
    z-index: 10;
    background-image: url('../img/icon-monochrome.png');
    background-size: 92px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gxc-header,
.bar-footer, .popup-head {
    background-color: #3E8059;
    color: white;
    border: 0;
    background-size: 0;
}
.popup-head *{
    color:white;
}
.gxc-search {
    background-color: #3E8059;
    border: 0;
}
.gxc-search *,
.gxc-search input {
    color: white;
}
.gxc-header *,
.gx-header .button,
.button:hover {
    color: white;
}
.button:hover {
    color: white;
}
.gxc-menu,
.gxc-menu ion-item {
    background-color: #2B593E;
    color: white;
}
.gxc-menu-header {
    height: 130px;
    width: 100%;
    display: block;
    text-align: center;
}
.gxc-menu-header img {
    width: 30%;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.gxc-calc-header {
    margin-top: 0;
    color: white;
    padding: 0;
    width: 100%;
}
.btn-menu {
    float: left;
    position: fixed;
    color: white;
    font-size: 20pt;
}
.has-header {
    top: 116px;
}
.bar-header.main-bar {
    height: 116px;
}
.hxc-list-calc {
    background-color: #005500;
}
.calc-res-costo,
.calc-nombre-empresa {
    text-align: center;
    padding: 3px;
    font-weight: bold;
    width: 100%;
}
.calc-res-costo {
    font-size: 20pt;
    background-color: #3E8059;
    height: 80px;
    padding-top: 12px;
}
.calc-res-costo .label,
.calc-nombre-empresa .label {
    font-size: 11pt;
}
.calc-nombre-empresa {
    font-size: 11pt;
    background-color: #005500;
    height: 36px;
    line-height: 36px;
    padding: 0;
    -webkit-transition: all .5s;
    /* Safari */
    transition: all .5s;
    transition-timing-function: ease-in-out;
    top: 0;
    /*background-color: #253f21;*/
}
.expand {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100%;
}
.badge-std,
.badge-verde {
    background-color: #458824;
    color: white;
}
.badge-stv,
.badge-amarillo {
    background-color: #cfb334;
    color: white;
}
.badge-spc,
.badge-rojo {
    background-color: #cf3434;
    color: white;
}
.item-checkbox::first-letter {
    text-transform: uppercase;
}
span.odometer-digit:first-child::before {
    content: '$';
    margin-left: -23px;
    display: inline-block;
    float: left;
}
.odometer {
    font-size: 26pt;
    line-height: 22pt;
}

/*TABLET
.popup-container .popup{
    width: 40%;
}*/

.item {
    font-size: 11pt;
}
.button-footer {
    color: white;
    border-color: white;
}
.blurred * {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
