/*gxc-header*/

#gxc-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3E8059;
    z-index: 10;
}
.button:hover {
    color: white;
}
.gxc-menu,
.gxc-menu ion-item {
    background-color: #2B593E;
    color: white;
}
.gxc-menu-header {
    height: 130px;
    width: 100%;
    display: block;
    text-align: center;
}
.gxc-menu-header img {
    width: 30%;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.gxc-calc-header {
    margin-top: 0;
    color: white;
    padding: 0;
}
.btn-menu {
    float: left;
    position: fixed;
    color: white;
    font-size: 20pt;
}
.hxc-list-calc {
    top: 107px;
    background-color: #005500;
}
.calc-res-costo,
.calc-nombre-empresa {
    text-align: center;
    padding: 3px;
    font-weight: bold;
}
.calc-res-costo {
    font-size: 20pt;
    background-color: #3E8059;
    padding-top: 15px;
    height: 70px;
}
.calc-res-costo .label,
.calc-nombre-empresa .label {
    font-size: 10pt;
}
.calc-nombre-empresa {
    font-size: 11pt;
    background-color: #005500;
    height: 36px;
    text-transform: uppercase;
    line-height: 36px;
    padding: 0;
    /*background-color: #253f21;*/
}
.badge-std,
.badge-verde {
    background-color: #458824;
}
.badge-stv,
.badge-amarillo {
    background-color: #cfb334;
}
.badge-spc,
.badge-rojo {
    background-color: #cf3434;
}
.item-checkbox::first-letter {
    text-transform: uppercase;
}

span.odometer-digit:first-child::before {
    content: '$';
    margin-left: -23px;
    display: inline-block;
    float: left;
}

.odometer {
    font-size: 26pt;
    line-height: 22pt;
}
/*TABLET
.popup-container .popup{
    width: 40%;
}*/
