<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/ionic.min.css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <script type="text/javascript" src="js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-app="gxc-rcalc">
    <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content drag-content="false">
            <ion-header-bar class="gxc-header" align-title="left">
                <div class="buttons">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
                </div>
                <h1 class="title">Calculadora de riesgos</h1>
            </ion-header-bar>
            <ion-pane>
                <div id="calc_principal" ng-controller="RiskCalculatorController">
                    <div class="gxc-calc-header">
                        <div class="row" style="padding-top: 0;padding-bottom: 0;">
                            <div class="col">Empresa</div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                            <div class="col calc-nombre-empresa">La grupera</div>
                            <div class="col calc-res-costo">${{resultado| number:2}}</div>
                        </div>
                        <div class="row" style="padding-top: 0;padding-bottom: 0;">
                            <div class="col"></div>
                            <div class="col" style="text-align:right;">Costo</div>
                        </div>
                    </div>
                    <ion-list>
                       <ion-item class="item-divider">Informaci&oacute;n seleccionada</ion-item>
                       <ion-item class="item-icon-left item-icon-right item-checkbox" ng-repeat="item in items_seleccionados">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" ng-click="clickItem(item);">
                            </label>
                                {{item.name}}<span class="badge badge-{{item.cat}}">&nbsp;</span>
                        </ion-item>
                       <ion-item class="item-divider">Otra informaci&oacute;n</ion-item>
                        <ion-item class="item-icon-left item-icon-right item-checkbox" ng-repeat="item in items">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" ng-click="clickItem(item);">
                            </label>
                                {{item.name}}<span class="badge badge-{{item.cat}}">&nbsp;</span>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-pane>
        </ion-side-menu-content>
        <ion-side-menu side="left" class="gxc-menu" style="overflow-y: auto;">
            <div class="gxc-menu-header">
                Calculadora de riesgos
                <br/>v0.1
            </div>
            <ion-list>
                <ion-item class="item-icon-left"><i class="icon ion-help-circled"></i>Ayuda</ion-item>
                <ion-item class="item-icon-left"><i class="icon ion-information-circled"></i>Sobre la aplicaci&oacute;n</ion-item>
            </ion-list>
        </ion-side-menu>
    </ion-side-menus>
</body>

</html>
